robotframework~=5.0.1
robotframework-seleniumlibrary~=6.0.0
selenium~=4.4.3
webdrivermanager~=0.10.0
robotframework-selenium2library
testObject~=1.0.0.post1
robotframework-datadriver
robotframework-csvlibrary~=0.0.5